{#
SB DRC Migration Template v0.1
Format: Jinja2 + YAML
Author: D. Fauluchi
Configuration Source: Cisco_Pre-Post_Checks_V0.1
#}
!
{#- DRC L3 bgp & subif shutdown #}
! {{ config[device.name].hostname.upper() }} L3 Interface & BGP shutdown !
{%- set sb='sb_'+ config[device.name].side  %}
!
show run formal | inc {{ config[sb].hostname.upper() }}
!
!!!***Validate the Neighbors before shutdown***!!!
config t
!
router bgp 65137
{%- for each_bgp_neighbor in config[device.name].bgp_neighbor_list%}
{%- if 'vrf' in each_bgp_neighbor %}
 vrf {{ each_bgp_neighbor.vrf }}
{%- endif %}
  neighbor {{ each_bgp_neighbor.neighbor }}
   shutdown
   exit
{%- if 'vrf' in each_bgp_neighbor %}
  exit
{%- endif %}
!
{%- endfor %}
root
!
show config
!
commit label {{ config.cr }}_714_Dn{{ config[sb].hostname.upper() }}-1
!!! Validate ping sweep and Application before moving further !!! 
config t
!
{%- for each_bundle_subinterface in config[device.name].bundle_subinterface_list %}
interface Bundle-Ether{{config[device.name].be_id}}.{{ each_bundle_subinterface.dot1q }}
 shutdown
!
{%- endfor %}
!
interface Bundle-Ether{{ config[device.name].be_id }}
 shutdown
!
do show bundle bundle-ether {{ config[device.name].be_id }}
!!!***Validate interfaces before shutdown***!!!
{%- for each_phy_interface in config[device.name].phy_interface_list %}
interface {{each_phy_interface.type}}{{each_phy_interface.id}}
 shutdown
!
{%- endfor %}
!
root
!
show config
!
commit label {{ config.cr }}_714_Dn{{ config[sb].hostname.upper() }}-2
