{#
SB DRC Migration Template v0.1
Format: Jinja2 + YAML
Author: D. Fauluchi
Configuration Source: Cisco_Pre-Post_Checks_V0.1
#}
!
{#- SB 1st leg migration traffic status #}
! {{ config[device.name].hostname.upper() }} 

show port-channel summary
show int port-channel 111 | inc rate
show int port-channel 1 | inc rate
!!!*** Check port-channel 111 member ports are up and traffic on port-channel 111***!!!

Show bgp vrf all all summary
!!!***BGP with AS65138 should be UP on Cross-link po111***!!!
!!!***All BGP with AS65137 should be UP on {{ config[device.name].hostname.upper() }} uplinks***!!!
!
sh ip route 0.0.0.0 vrf all
sh ip bgp 0.0.0.0 vrf all
!
sh ipv6 route 0::/0 vrf all
sh ipv6 bgp 0::/0 vrf all
